[2013-12-09 19:53] areina opened #1 "send email to dash guy"

[2013-12-09 19:54] areina opened #2 "make package for sqlite.el"

[2013-12-09 19:56] areina opened #3 "change hardcoded tmp paths"

[2013-12-09 20:14] areina opened #4 "Don't open sqlite connections on emacs startup"

[2013-12-09 20:14] areina opened #5 "Tune sqlite query for multiple words"

[2013-12-10 00:09] #4 closed, assigned to nobody

[2013-12-10 12:23] areina opened #6 "Allow custom docset urls"
for example, for this:

https://raw.github.com/for-GET/know-your-http-well/master/docset/know-your-http-well.xml

[2013-12-10 15:41] #1 closed, assigned to nobody

[2013-12-15 16:58] #5 closed, assigned to nobody

[2013-12-15 16:58] #3 closed, assigned to nobody

[2013-12-18 19:25] areina opened #7 "update helm-dash-active-docsets values when you install new docset"

[2013-12-27 14:02] #2 closed, assigned to nobody

[2013-12-27 14:02] #7 closed, assigned to nobody

[2013-12-30 11:23] kidd opened #15 "Ignore 'strange' docset types gracefully"
Now, if there are 3 active docsets and 1 of them has an unsupported format (css) everything blows up.

We should just disable it, keep calm, and carry on

[2014-01-03 14:21] Kapeli opened #17 "Ignore list"
Regarding the ignore list at https://github.com/areina/helm-dash/blob/master/helm-dash.el#L99. You should change it so that anything that's not .xml is ignored, because I might add other .txt's and stuff in the future (although not that often).

If you can't make it so that all except .xml are ignored, you should also add the following to the ignore list: latencyTest.txt, latencyTest_v2.txt.

Also

[2014-01-09 10:29] kidd opened #20 "cache the results of available docsets"
Github blocks requests due to rate limiting

http://developer.github.com/v3/#rate-limiting

[2014-01-15 11:40] #20 closed, assigned to nobody

[2014-01-15 22:54] ksjogo opened #24 "Mac gnutls.c: [0] (Emacs) fatal error: The TLS connection was non-properly terminated."
I tried to install the Common Lisp and the CoffeeScript docs on Mac OS X 10.8. Both failed with this error message

[code]

Afterwards calling helm-dash will result in

[code]

[2014-01-16 11:15] #15 closed, assigned to nobody

[2014-01-16 11:21] #17 closed, assigned to nobody

[2014-01-16 15:11] phaebz opened #25 "No data base connection on OS X"
Using `helm-dash` after installing `Python_3` docset via `helm-dash-install-docset` on OS X gives the error (see below for full Backtrace):

[code]

How can I debug this further? Is relevant information missing?

Used Versions:
helm-dash from MELPA (20140114.1710)
esqlite from MELPA (20140115.728)
emacs 24.3.1 (x86_64-apple-darwin)

_Backtrace_:

[code]

[2014-01-17 09:45] ckruse opened #26 "open helm-dash prefilled with word at point"
It would be great if one could have a elisp function to bind on a hotkey which would prefill the minibuffer with the word at the point. E.g. point is at `setsid()`, press `F1` and helm-dash opens with `setsid` prefilled

[2014-01-17 13:24] #26 closed, assigned to nobody

[2014-01-17 17:15] DamienCassou opened #28 "esqlite--error: esqlite: "Stream buffer has been deleted""
This error appears each time I try to use helm-dash.

[2014-01-23 15:31] #24 closed, assigned to nobody

[2014-01-23 15:31] #28 closed, assigned to nobody

[2014-01-25 11:13] #25 closed, assigned to nobody

[2014-01-27 06:32] MatthewDarling opened #35 "Finding a way to support Windows"
I know, I know, boo Windows, but let's see if we can't figure this out.
## tar and weird paths

Emacs seems to do a good job of handling weird paths: for instance, `directory-files` correctly lists the files for the string `"C:\\Users\\Matt\\/.docsets"`. So that's great, but external programs will have trouble with that.

Sadly, there may need to be two special cases for Windows users here: one fo

[2014-01-27 11:31] asok opened #36 "`browse-url` fails"
I'm using Emacs 24.3.1 on Macos. It seems that url browsing does not work. When I try:

[code]

In the `*Messages*` I see:

[code]

And no browser's window is opened.
Though when I strip the `#target` part of the url:

[code]

The browser window is opened with the html file.

It might be the bug mentioned [here](http://www.emacswiki.org/emacs/BrowseUrl#toc21) (under the section named: "Bug" in bro

[2014-01-27 23:33] #36 closed, assigned to nobody

[2014-02-03 09:38] jwintz opened #38 "Install docsets from init file"
Is it possible to install docsets directly from within the init file, e.g.:

(require 'helm-dash)
(helm-dash-install-docset "Qt_5")
(helm-dash-install-docset "...")
(helm-dash-install-docset "...")
- ju

[2014-02-03 09:41] jwintz opened #39 "Change docset location from init file"
Is it possible to change the default docset install location (currently ~/.docset) from init file, e.g.:

(require 'helm-dash)
(helm-dash-docset-path "....")
(helm-dash-install-docset "....")
(helm-dash-install-docset "....")
(helm-dash-install-docset "....")
- ju

[2014-02-03 10:18] #39 closed, assigned to nobody

[2014-02-04 00:03] #38 closed, assigned to nobody

[2014-02-04 12:31] jwintz opened #41 "helm-dash does not provide any candidate"
Hello,

I can not get helm-dash to provide any candidate even though docsets seem to be installed correctly and variables set up just as well.

I am using Emacs 24.3.1 on MacOSX Mavericks, and have not yet tested on other platforms. helm-dash is master merged with #40.

Here is my configuration: https://github.com/jwintz/prelude/blob/master/personal/prelude-dash.el.

How can I debug docset queries

[2014-02-08 23:44] flexibeast opened #43 "Still no candidates provided"
Further to [Issue 41](https://github.com/areina/helm-dash/issues/41), i've just uninstalled the `helm-dash` (MELPA) package via the package manager, cloned the master branch, and loaded `helm-dash` from that; but it's still not providing any candidates for either of the two docsets i've installed ('HTML' and 'CSS').

[2014-02-09 10:02] #43 closed, assigned to nobody

[2014-02-11 01:10] #41 closed, assigned to nobody

[2014-03-22 00:05] kidd opened #48 "open doc as you type"
This works kinda ok, but it's super slow. makes everything sluggish.

We should investigate on that,  There's also helm-idle-delay worth investigating
[code]

[2014-07-17 17:48] alinnow opened #51 "Why is helm-dash-completing-read-func used?"
I'm a bit curious about the use of `helm-dash-completing-read-func`. Is there any reason it's being used in a helm-specific package?

When I asked `helm-dash` to install a docset, I wasn't expecting an ido prompt. Now I could quite happily add `helm-comp-read` to the options for `helm-dash-completing-read-func` and perhaps make it the default, but on second thought, it seems a little weird to have

[2014-07-27 17:09] nicferrier opened #53 "marmalade upload?"
Any reason to stick only with MELPA?

[2014-07-29 01:35] stardiviner opened #54 "helm-dash does not complete (seems does not connect to docsets correctly)"
I install helm-dash through el-get.
And configure it with:

[code]

After download docsets with `helm-dash-install-docsets`.
And when I execute `[M-x helm-dash]`. It only show `Ruby nil`
or `Ruby on Rails nil`. I also tried command `helm-dash-active-docsets`.
None of them can work correctly.

[2014-07-29 09:07] #54 closed, assigned to nobody

[2014-08-12 23:03] jfeltz opened #56 "handle directories like haskell-either-4.3.10.docset"
After wondering why my docset wasn't working (checking schema plist etc.) it turns out the problem is that helm-dash doesn't understand directories like `haskell-either-4.3.10.docset`, and instead truncates the docset at `haskell-either-4`, I suspect because it assumes that suffix docset begins after the first period. Is this a bug in helm-dash, or is this path violating the dash standard or somet

[2014-10-20 14:31] #53 closed, assigned to nobody

[2014-11-04 08:35] #51 closed, assigned to nobody

[2014-11-25 18:03] simonthum opened #61 "Don't require helm-mode"
Hi,

on my win32 emacs I only get helm-dash to work (more precisely, list doclets) when

helm-comp-read-case-fold-search

is non-nil, which is defined in helm-mode. AFAIK helm-mode is considered optional, in general.

[2014-12-03 04:51] stardiviner opened #62 "helm-dash can't open result entry."
I have Emacs version 25.0.50.2
And use the latest helm-dash from el-get.

And have this configuration.

[code]

And when I press `Enter` on result entry `Ruby Kernel.autoload`. Then this error raised.

[code]

[2014-12-03 20:52] kwrooijen opened #63 "Helm-dash can't find docs when on remote host (TRAMP)"
When I scp to a remote host with TRAMP I can't open my docs anymore using helm-dash. The only way for me to open them is to go back to a file on my local machine and enable the docset there. I've also tried installing docs on the remote host but that didn't work either. Any idea?

[2014-12-05 09:26] #63 closed, assigned to nobody

[2014-12-05 10:39] #62 closed, assigned to nobody

[2014-12-07 16:03] otsaloma opened #65 "Allow full HTTP links"
helm-dash seems to work with local HTML files and `file://` URLs. It would be useful if the "path" could be a full `http(s)://` link. This way I could avoid trying scrape some gigantic web pages, just download an index page, parse that and construct full HTTP URLs in the database file. Dash allows this too ("[Alternatively](http://kapeli.com/docsets#fillsqlite), Dash also supports `http://` URL en

[2014-12-08 14:24] #65 closed, assigned to nobody

[2014-12-13 17:58] otsaloma opened #67 "Search results empty on first call"
I use helm-dash with buffer-local docsets and I have a key bound to `helm-dash-at-point`. Often the first time I call `helm-dash-at-point` the result list is empty. If I cancel that and call again the expected results show up. This happens often, but not always and with some docsets more often than others, but not consistently.

I looked at the code and if I understand correctly, registering the a

[2014-12-18 14:05] #61 closed, assigned to nobody

[2014-12-22 00:35] #56 closed, assigned to nobody

[2015-01-05 18:21] kidd commented on #48
This seems to work a bit better (using eww) although it doesn't get triggered when navigating with arrow keys...

[code]

[2015-02-03 10:52] itsjeyd commented on #67
@otsaloma I am experiencing the same issue with `helm-dash`. Would you mind sharing the code for the workaround?

[2015-02-03 18:06] otsaloma commented on #67
Sure.

[code]

[2015-02-03 22:06] itsjeyd commented on #67
@otsaloma Thanks!

Had a look at the `helm-dash` source myself, and it seems like the problem is caused by `helm-dash-buffer-local-docsets`.

Call graph:

`helm-dash`
:arrow_right: `helm-dash-create-buffer-connections`
:arrow_right: `helm-dash-buffer-local-docsets`
:arrow_right: `with-helm-current-buffer`

`helm-dash-buffer-local-docsets` uses `with-helm-current-buffer` to get `helm-dash-docsets`

[2015-02-04 16:11] kidd commented on #67
Wow, thanks for the very detailed investigation and report!

As a workaround, I think `(setq helm-current-buffer (current-buffer))` is a viable solution.

[2015-02-19 17:07] gavenkoa commented on #24
Have same error on Debian Sid. After some time Emacs crashed.

Updating **libgnutls** packages fix error:

    $ tail /var/log/apt/history.log
    Start-Date: 2015-02-19  19:00:54
    Upgrade: libgnutls-deb0-28:i386 (3.3.8-3, 3.3.8-5), libgnutls26:i386 (2.12.20-1, 2.12.23-18), libgnutls-openssl27:i386 (2.12.20-1, 3.3.8-5)
    End-Date: 2015-02-19  19:01:00

[2015-03-11 23:42] lvh opened #71 "Support multiple search paths"
Right now helm-dash supports a single path for finding docsets, but Dash uses multiple internally:

[code]

[2015-03-12 17:32] kidd commented on #71
how does it recognize the nested directories? or it's just one level more deep?

so, it'd be '.docsets/*/' or '.docsets/**/*'  ?  the latter is much more difficult that the former

[2015-03-23 01:33] stardiviner opened #72 "seems can't find all things"
Here is the original issue https://github.com/magnars/dash.el/issues/132

I thought it is the issue in dash.el, but it's not, I searched with `grep` in Rails docset. and found the `Flash.html` page. in `/home/stardiviner/.docsets/Ruby on Rails.docset/Contents/Resources/Documents/api.rubyonrails.org/classes/ActionDispatch/Flash.html`

I guess this really is the problem in helm-dash.

[2015-03-23 11:12] kidd commented on #72
Hi, and thanks for the report.
The issue in this case is the combination of the  following:
- We use the name of the docset as a filter IF typed in the beginning. But it has to be the complete name of the docsed.
- Helm works by doing a first filter and after that narrowing from the initial list. The default is 100.

As 'Ruby on Rails' is so long name, by the time you typed half of it, the first n

[2015-03-23 16:09] stardiviner commented on #72
After rename, the issue is temporary solved. This really need a better way to solve it.
You're right. Maybe another way is define a list like `(("Ruby on Rails" . "ror") ("docset folder name" . "short keyname"))`.

[2015-03-23 17:43] kidd commented on #72
Helm has evolved quite a bit since we first launched helm-dash, so probably now there's some way to improving it using helm machinery.

[2015-03-24 06:33] stardiviner commented on #72
great, Should I link this issue to helm?

[2015-04-03 08:12] s9gf4ult opened #74 "Add a way to open doc in other window"
Hello, I have implemented this (copy paste from `helm-dash-browse-url`)

[code]

and also modified

[code]

but when I select second action in helm buffer documentation just opens inside the same buffer.
How should I fix this code to make it work?

Also, using `split-window-horizontally` is too ad-hoc, maybe you know a better way to do that to make reasonable pull request?

BTW, I am using `eww` f

[2015-04-04 06:43] s9gf4ult commented on #74
Looks like everything works, I've just restarted my Emacs.

What would you say about using `split-window-horizontally` ?

[2015-04-07 02:24] pronobis commented on #6
Yes, it would be very nice to be able to download docksets from: https://github.com/Kapeli/Dash-User-Contributions. Here's a nice discussion showing how to achieve that: https://github.com/zealdocs/zeal/issues/170

[2015-04-07 02:38] pronobis commented on #72
Another issue is in case of patterns that exist in the name of the docset or namespace. Example: python docs such as scipy numpy matplotlib have titles like: `matplotlib.pyplot.plot` and there are tons of results for the keyword `plot` . Would be great to be able to use regexp and say `plot$` or simply make the search prefer matches at the end of the line since that's where the most important part

[2015-04-07 10:14] kidd commented on #6
As a first approach, something like accepting a url should be enough, no?  I'm not aware if there are many non-official docsets. I have seen very few.

[2015-04-07 18:09] pronobis commented on #6
Well, there is quite a bunch:
https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets

[2015-04-07 19:15] pronobis commented on #67
So, why not just fix it in helm-dash this way? Or just get docsets for (current-buffer)?

[2015-04-08 01:36] kidd commented on #67
because I'm not sure writting to helm-current-buffer is not a huge hack... :/

[2015-04-08 01:37] kidd commented on #6
Oh yes, sorry I overlooked the first link.
I'm working on a solution for this. hopefully it'll be up in a few days

[2015-04-08 01:42] pronobis commented on #67
What I meant is to just get `helm-dash-docsets` from `(current-buffer)` and not from `(helm-current-buffer)`. Basically, just like this:

[code]

[2015-04-12 12:53] E3D3 commented on #24
Same issue on Manjaro Linux:
gnutls.c: [0] (Emacs) fatal error: The TLS connection was non-properly terminated.
The files are not downloaded.

[2015-04-28 17:17] kidd commented on #6
@pronobis , there's a branch (currently still in development/testing) which implements that.
if you have some time could you give it a shot?

branch is 'user-docsets', the command is `helm-dash-install-user-docset'.
Bye!

[2015-05-11 08:25] davidshepherd7 commented on #6
I just gave the 'user-docsets' branch a try and it seems to be working perfectly (I installed two docsets from Dash-User-Contributions, added them to a local docsets hook and used them a few times).

One question: does there need to a be a different user-level function for installing user contributed docsets? Personally I don't care where the docsets come from, although it should be possible to fi

[2015-05-11 08:58] kidd commented on #6
Great!
The only reason is that the way to fetch the docsets is totally different. we could try to unify it somehow, but I guess for the first 'release' it will be a different function.

Thanks for testing!

[2015-05-11 09:13] davidshepherd7 opened #80 "No error is given if sqlite3 cannot be found"
When emacs cannot find sqlite3 `helm-dash` fails silently. The list of completions remains simply remains empty, no error message or stack trace appears. It would be nicer if errors were displayed somehow.

I had some problems because of this. For some reason even though sqlite3 was installed emacs couldn't find it (I didn't find out why but a re-install fixed it). However, in order to find out th

[2015-05-12 12:11] areina commented on #6
done in #78

[2015-05-12 12:11] #6 closed

[2015-06-13 20:52] tko opened #84 "Docset path confusion with underscores"
When you install docsets that have underscores in the name the end result is rather unpredictable, e.g.
* `Bootstrap_2` => `Bootstrap.docset`
* `Bootstrap_3` => `Bootstrap 3.docset`
* `Common_Lisp` => `Common Lisp.docset`
* `Emacs_Lisp` => `Emacs Lisp.docset`

In a way _none_ of docsets are available after installation due to underscore / whitespace mismatch, not to mention the loss of '2' even. I

[2015-06-14 16:27] stardiviner commented on #84
+1

[2015-06-15 19:56] tko commented on #80
You could replace `helm-dash-sql` with the following and get a decent error if sqlite3 isn't executable:
[code]

The downside is that if you have a typo in your docset lists nothing works and the _only_ error you get is "sqlite3 exited with status 1" which isn't very helpful.

[2015-06-15 22:05] davidshepherd7 commented on #80
I think I'll look into this again tomorrow and get something working.

Thanks for the `process-lines` tip and the motivation :)

[2015-07-05 04:06] jasonm23 commented on #36
Another way would be to host via a little local webserver and allow helm-dash to have a different base url from `file:///`

[2015-07-05 06:20] jasonm23 commented on #36
I'm now using this method.

[code]

[2015-07-05 07:52] jasonm23 opened #89 "Docsets from contrib"
https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets

It would be great if we could install user contributed docsets

[2015-07-05 08:50] Kapeli commented on #89
Instructions on how the user contributed docsets are stored and so on can be found in my comment at https://github.com/zealdocs/zeal/issues/170#issuecomment-71310603.

[2015-07-05 09:50] jasonm23 commented on #89
Thank you @Kapeli

[2015-07-06 09:31] kidd commented on #89
try `m-x helm-dash-install-user-docset ` . Currently experimental, ...

[2015-07-06 10:29] jasonm23 commented on #89
@kidd Ramon, that seems to work fine.

[2015-07-06 12:22] kidd commented on #89
:)

[2015-07-06 12:22] #89 closed

[2015-07-07 16:43] jasonm23 commented on #36
Also just tried to open a URL in Google chrome OSX with

    /Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome "file:///Users/jason/index.html#jump"

Seems to work, so I'm trying shell-command / start-process

[2015-07-07 16:52] jasonm23 commented on #36
This worked.

[code]

Safari needs an osascript solution...

Personally I like the localhost server solution, as it doesn't require a specific browser.

[2015-07-09 20:22] dakrone opened #90 "How to diagnose helm-dash not showing anything?"
Is there a verbose setting or a flag I can enable to help track down why helm-dash does not show anything? I have two docsets enabled, one activated, sqlite3 on the `$PATH`, but no results are ever returned.

[2015-07-20 01:22] amitp commented on #54
May I suggest that `helm-dash-sql` use `sqlite3 -list`? That way it no longer matters what format the user prefers in `.sqliterc`. It'd be nice if the user's choice for command line usage does not interfere with the operation of helm-dash.

[2015-07-20 16:11] #80 closed

[2015-07-20 16:14] areina commented on #90
Hi @dakrone , we just merged a PR that may help you. Upgrade helm-dash to latest version and you will have a debugging buffer containing errors thrown by sqlite. Hope that helps you.

[2015-07-20 16:14] #90 closed

[2015-07-20 16:26] areina commented on #74
Hi @s9gf4ult ,

I think this can be very useful, but it's a bit ad-hoc because it makes sense only for eww users. Also, we're trying to cover this behaviour in a different way (see #48). As it can be helpful for other users, I encourage you to create a PR adding this to Readme.

Thank you!

[2015-07-20 16:26] #74 closed

[2015-07-20 17:04] areina commented on #84
We just merged #87 that should fix this. Could someone test it and confirm? Thanks

[2015-07-20 17:08] areina commented on #71
Hey @lvh , I'm a linux user and I have no idea how Dash manages its folders internally, sorry. It looks like you should point `helm-dash-docsets-path` to ~/L/A/Dash/DocSets but I can't confirm that. @tko @Kapeli could you help with this, please? Thanks!

[2015-07-21 01:35] Kapeli commented on #71
Dash doesn't have a "docset folder". It installs docsets in different folders depending on the source and it works with them individually. Users can also add docsets from arbitrary locations/folder.

~/L/A/Dash/DocSets is the location where the main docset repo installs docsets. The main docset repo is the one with the docsets listed at http://kapeli.com/docset_links. These are pretty much the doc

[2015-07-21 10:30] areina commented on #71
Thanks @Kapeli for the info

[2015-07-21 23:37] stardiviner commented on #54
Maybe helm-dash should extract `helm-dash-sql`'s `call-process` out a variable called like `helm-dash-sql-parameters`. So that user can specify like `--list`.

[2015-07-22 10:50] kidd commented on #54
For now I'll add  '-list' to the hardcoded commandline... I don't foresee many more configs needed... We'll do it when really needed

[2015-07-22 11:05] kidd commented on #54
that should do it, right?

[2015-07-22 12:26] stardiviner opened #92 "make install docset async"
install docset with function `url-copy-file` un-available to user.
I think helm-dash-install-docset should use `async-start` or something else.

[2015-07-23 01:55] stardiviner commented on #54
@kidd It's fine.

[2015-07-24 14:02] jasonm23 commented on #36
http://apple.stackexchange.com/a/197284/1267

    osascript -e 'open location "file:///Somethingwithan.html#anchor" '

[2015-07-31 03:19] stardiviner opened #93 "Error: no such table: ZTOKEN"
Current path (pwd) is `/home/stardiviner/.emacs.d/init/programming/document/`.

[code]
I found some docsets can not query now.
here is the error message after I toggle helm-dash-enable-debugging.

The debug info shows helm-dash is opening docset database in a wrong place, my docsets path is ~/.docsets.

Some docsets has this problem, some docsets not.
problem docsets: Ruby, Go,

[2015-08-22 16:16] tjefferson08 opened #94 "Breaking change in helm-match-plugin"
Looks to me like [this commit](https://github.com/emacs-helm/helm/commit/b26db373b005f237efde253616c4db585eca1fd1) in emacs-helm broke the require statement [here](https://github.com/areina/helm-dash/blob/master/helm-dash.el#L40)

Updating the symbol name seems to have fixed it on my local.

[2015-08-23 00:04] microamp commented on #94
The PR fixed it for me. Thanks, @tjefferson08!

[2015-08-24 00:14] stardiviner commented on #94
me too.

[2015-08-24 09:49] #94 closed

[2015-08-31 22:15] vspinu opened #96 "make each docset to appear as a separate source"
Would be possible to have a multisource view - one source per doc set. It feels a bit unnatural  to have all the docs in one bulk to me.

![helm](https://cloud.githubusercontent.com/assets/1363467/9591669/485a8072-503d-11e5-8353-b51f8d4dddf1.png)

[2015-09-06 23:47] vspinu commented on #93
Any news on this?  I managed to run helm-dash a couple of times but now I am permanently getting this error.

[2015-09-07 00:43] vspinu commented on #93
It turned out that I was using "JavaSE7"  as a docet name whicle the docset directory was simply "Java".

Creating a PR for a more meaningful error.

[2015-09-07 12:18] areina commented on #96
Hi, I have only few docsets activated and this isn't a big issue for me, but this multisource view looks very interesting. A PR implementing this would be very appreciated :-) If not, I will take a look at this in the future (my slot of free time is occupied by another project at this moment).

[2015-09-16 04:57] stardiviner opened #99 "Error: no such table: ZTOKEN in Ruby docset and Go docset etc"
I found some docsets can not query now.
here is the error message after I toggle `helm-dash-enable-debugging`.
[code]
The debug info shows helm-dash is opening docset database in a wrong place, my docsets path is `~/.docsets`.

Some docsets has this problem, some docsets not.
problem docsets: Ruby, Go,

[2015-09-21 03:57] stardiviner opened #100 "create docset for RFC"
Is there an docset for RFC? if not how to create?

[2015-09-21 10:35] kidd commented on #100
oh, nice idea.
I see https://github.com/willnorris/rfcdash that should work.  I haven't tried it though

[2015-10-05 13:25] stardiviner commented on #93
error still exist.

[2015-10-05 13:56] #99 closed

[2015-10-05 14:02] stardiviner commented on #93
After compare between good docset and broken docset.

The files in HTML docset:
[code]

the files in Ruby docset:

[code]

You can see, some files are missing. I guess that's why the docset report error: `no such table: ZTOKEN`.

[2015-10-05 14:23] stardiviner commented on #93
I also checked sqlite database file `docSet.dsidx`.
`select name, type, path from searchIndex;`
This is correct.

[2015-10-06 17:12] kidd commented on #93
there are several different types of docsets, so the queries change depending on which type of docset it is. I can't reproduce any of this either with Ruby or Go.

[2015-10-06 17:14] #93 closed

[2015-10-06 18:10] gfZeng opened #101 "helm-dash should list google engine when pattern not found"
I want to search a pattern from docset, but not found. In this case, I want search it via google.

[2015-10-07 01:56] stardiviner commented on #93
I found the reason now:
My sqlite config caused this issue:
Here is my config:
[code]

[2015-10-07 11:36] kidd commented on #93
is there a way to invoke sqlite ignoring the .sqliterb file?

[2015-10-07 13:41] areina commented on #101
Hey, thanks but that isn't the purpose of helm-dash. Take a look at https://github.com/steckerhalter/helm-google . Maybe you can hack something to combine both.

[2015-10-07 13:41] #101 closed

[2015-10-07 14:49] stardiviner commented on #93
@kidd what about use `sqlite3 -init ""` ?

[2015-10-07 15:19] kidd commented on #101
maybe hacking something around helm-dash-actions .... but no idea, and as @areina says, it's not the main purpose of helm-dash ...

[2015-10-07 15:30] kidd commented on #93
thanks @stardiviner .   It's ready to be bundled in #102

[2015-10-26 05:59] stardiviner commented on #96
Does this feature is implemented and merged?

[2015-10-26 10:38] vspinu commented on #96
No. It's a proposal. Someone has to do it.

[2015-10-26 12:12] kidd commented on #96
I think what we need is a better flex matching so that one can search for 'map', and then refine the search by typing ' clojure' .  Currently, to narrow by docset, the docset name has to be in the beginning, and it has to match exactly (c-a is your friend).   Also, it doesn't work with multiword docsets .

For example, I renamed Ruby on Rails.docset to 'ror.docset'.

Suboptimal, but it kinda solve

[2015-10-26 12:38] stardiviner commented on #96
right, The Ruby on Rails.docset is a problem. I rename it to `RoR.docset` too.

[2015-11-02 15:57] areina commented on #100
Hey @stardiviner, did you already try that docset ?  I think you can install it with `helm-dash-install-user-docset`, it is there as `RFCs`.

I'm going to close the issue, but feel free to reopen it if something doesn't work well.

[2015-11-02 15:57] #100 closed

[2015-11-20 18:23] agzam commented on #96
That would be awesomely handy to have.

[2015-11-22 02:00] jwintz commented on #92
I second. It is very annoying to have a frozen emacs while fetching a very large docset.

[2015-12-03 14:01] jwintz opened #109 "autoload 'helm-dash-activate-docset"
Hello,

In my config, I do not set `helm-dash-common-docsets` as it forces my to download all of them whenever I clone my emacs configuration from a machine to another.

So I like to use `helm-dash-install-docset` interactively, but subsequently, `helm-dash` does not provide any candidate unless If i activate it via `helm-dash-activate-docset`. Unfortunately this function is only invokable once `h

[2015-12-03 19:47] #109 closed

[2015-12-03 19:50] jwintz commented on #109
Great ! Thanks @kidd and @areina ! How long before it ends on Melpa ?

[2015-12-03 20:31] kidd commented on #109
it should be there automatically after it's merged. maybe they build it themselves, but it shouldn't take long anyway

[2015-12-03 20:46] areina commented on #109
It isn't available immediately. They execute a build periodically, but I don't know the interval.
Currently melpa.org shows this message:

[2015-12-07 07:09] stardiviner opened #112 "give user a hint when helm-dash ins quering or when no result"
I don't know what helm-dash is doing, when just blank result. still quering, or just no result.
I mean I want to know helm-dash's status.
helm-dash can show status info in mode-line, or somewhere else. (minibuffer (echo-area) is already been used by input).

[2015-12-07 11:37] kidd commented on #112
from my experience, results show nearly instantaneously. if you have enough time to look at the mode line, probably it's a "no results".  Still, if you provide a PR, it can easily be merged :)

[2015-12-07 14:37] stardiviner commented on #112
I use custom mode-line. I will add helm-dash mode-line update code by myself.
Sometimes is is fast, sometimes it is slow. For example, I delete word, and input a new word, helm-dash start query again.

[2015-12-07 14:39] stardiviner commented on #112
And when I don't specify docset name, the query will be slow. Helm-dash will query all docsets.

[2015-12-07 14:48] kidd commented on #112
Slow as in what? I have 5 to 10 docsets, and it's not that slow on my machine. liks, sub-second slow.

[2015-12-10 04:15] #112 closed

[2015-12-10 11:12] icbfge opened #113 "Can not work on windows?"
When the path contain ":", it can not recognise the right path?

[2015-12-10 13:07] kidd commented on #113
I don't use windows, so I have no idea how windows escapes chars.   Do you have any proposal to fix it?

[2015-12-13 18:13] sometimesfood opened #114 "New release for melpa-stable"
The last release of helm-dash on melpa-stable (1.1.0) does not work with current helm versions:

    helm-dash.el:41:1:Error: Cannot open load file: no such file or directory, helm-match-plugin

This error seems to have been fixed in 4e1046f72e116b56bb23fed0e22f9a2907f5485e.

Could you please release a new version of helm-dash for the melpa-stable users out there? Thanks!

[2015-12-13 22:20] kidd commented on #114
Done!.

Thanks for noticing!

[2015-12-14 09:48] sometimesfood commented on #114
Great, works like a charm. Thanks for the fast response!

[2015-12-14 09:48] #114 closed

[2016-01-09 15:26] meditans opened #117 "Issue when using `helm-dash-install-docset-from-file`"
Hi, I created a custom docset named `target.docset` (which is a folder) in the folder of one of my projects. When I'm into that project, I want to use that docset.

However, when I try the function `helm-dash-install-docset-from-file`, I get in the minibuffer the string `Docset installed. Add "tar: Error is not recoverable: exiting now" to helm-dash-common-docsets or helm-dash-docsets.` and I get

[2016-01-09 16:43] meditans commented on #117
The missing link might be the instruction:

    tar --exclude='.DS_Store' -cvzf <docset name>.tgz <docset name>.docset

to generate a `tgz` file for the docset.

[2016-01-10 17:26] kidd commented on #117
Right, the docs were not explicit about this. Thank  you for the PR. It's merged

[2016-01-10 17:27] #117 closed

[2016-01-15 09:49] stardiviner opened #119 "add support for ivy-mode etc completion system?"
I hope dash.el can add support for other completion systems like ivy-mode.
helm-dash should add a customizable variable `helm-dash-completion-system` so that user can set user own favourite item like `ido`, `ivy` etc.

[2016-01-15 19:57] kidd commented on #119
We've been thinking about it for some time, but haven't dug into finding out whether it's a feasible thing to do.  If it's easy, as in a 'drop in' replacement, I'm all for it.  I doubt it's a drop-in replacement though.

Is there any major thing you want to do in ivy you can't do in helm?

[2016-01-16 07:09] stardiviner commented on #119
No feature I want to in ivy which not exist in helm.
Just because helm is heavy comparing with ivy. So I switched to ivy. And I like the ivy style. (vertical display candidates in minibuffer).

[2016-01-16 07:19] stardiviner commented on #119
I checked out helm-dash source code.
Search code with `helm-[^dash]`.
I found only a few functions are used:
- `with-helm-current-buffer`
- `helm-pattern`

That's all.

[2016-01-16 13:25] kidd commented on #119
that, and the call to helm itself. I'm taking a look at ivy-read function, and the signature is much more similar to ido than to helm.

Difficulties I see (after a not-very-deep read at the code):

- Dynamic-collection can be set to make new searches occur at every input. But no way to 'delay' or to set a 'minimum length'(although the later could be hacked into the callback).
- ivy doesn not deal

[2016-01-17 01:46] stardiviner commented on #119
I see. Thanks still.

[2016-01-17 20:59] abo-abo commented on #119
Hi, I saw a link here from reddit. The mentioned functionality seems very easy to implement, since it's similar to e.g. `counsel-locate`. I don't have OSX so the code isn't tested, but it should be close to complete.

[code]

This is done in the collection function itself via `counsel-more-chars` (a very short function).

This should work fine, as long as the collection returned is `(("text1" . da

[2016-01-17 21:55] kidd commented on #119
Thanks @abo-abo.

As I see it, wouldn't it make sense to have some kind of helm-to-ivy decorator (or advice, or whatever) that would avoid duplicating the modules that use each one of the functions that use helm?   something like ivy-everywhere?  I guess it's not easy to cover all the cases.

But anyway point taken, with some work, but not much we could add compatibility for both systems.

Thanks

[2016-01-17 22:15] abo-abo commented on #119
I couldn't manage to learn Helm's full API, there's too much stuff getting passed around, and Helm gets updated a lot.  Even `ivy-read`, which should ideally be the only entry point into Ivy already takes 15 arguments, up from `completing-read`'s 8.

If there's any compatibility to be had, it has to come through extending `completing-read`'s API, and having all completion systems conform to that A

[2016-01-18 02:18] stardiviner commented on #119
@abo-abo Thanks, I will create my custom port. put file locally.

[2016-01-19 15:23] To1ne commented on #94
My setup couldn't find `helm-multi-match`. I had to upgrade `helm`. Thanks!

[2016-01-27 12:19] quimmeetpays opened #120 "Internationalization"
Is there a way to choose the docset language? I'm using PHP, and documentation is available in multiple languages, but installing the PHP docset only gives access to the english language documentation.

[2016-01-27 13:00] kidd commented on #120
mmm.... afaik docsets are not aware of languages. Could you try to inspect the sqlite db that gets downloaded a bit?

If not, you can always create your own docset and install it manually.

[2016-01-27 15:20] quimmeetpays commented on #120
That's right. I'll try to create my own docset. The sqlite db contains only the english version.

Thank you.

[2016-01-27 15:20] #120 closed

[2016-02-09 06:56] xiongtx commented on #96
This should work:

[code]

What I'm wondering is if this will play nice with the async stuff that this package does, especially with `:candidate-process`. The code's kind of a mess (no lexical binding, not using [Helm development](https://github.com/emacs-helm/helm/wiki/Developing) conventions, etc.), and I haven't really been able to grok it yet.

With a few docsets activated, however, I haven't

[2016-02-11 21:17] kidd commented on #48
I just discovered that c-c c-f runs the persistent-action on every change, so that's it :)

[2016-02-11 21:17] #48 closed

[2016-02-18 02:15] #96 closed

[2016-02-18 20:05] agzam commented on #96
Nicely done. Thank you!

[2016-02-21 05:45] stardiviner opened #123 "buffer-local docset does not work really buffer locally"
I config buffer locally docset like this:

[code]

And try `helm-dash` to search in `projectile-rails-mode` enabled `enh-ruby-mode` buffer.
And try `helm-dash` in `js2-mode` buffer.

- I found `"Ruby on Rails"` helm-dash source will appears in JavaScript buffer.
- And I also found the separated helm sources will duplicate. (Might because two from `helm-dash-common-docset` "Ruby" and `helm-dash-doc

[2016-03-02 17:51] jonesej opened #124 "Narrowing is only happening within the initial 1000 index values"
(disclaimer - I'm very new to helm-dash, so it's definitely within the realm of possibility that I'm just using it wrong).

I've installed helm-dash through melpa (version 20160220.435) and the Java_SE8 docset using helm-dash-install-docset.

To try it out I executed helm-dash and at the "Doc for:" prompt, I tried to type "FileNotFoundException". As I typed "Fil", the choice of "File" came up, but

[2016-03-02 23:52] kidd commented on #124
Thanks for the report, I found out that it's  regression that appeared on the last release.
I'm working on a fix, so in a couple of days it should be solved.

[2016-03-09 10:11] #123 closed

[2016-03-10 10:46] #124 closed

[2016-03-17 20:41] jonesej commented on #124
I finally got around to trying it again. It works good. Thanks!

[2016-03-21 01:25] marcinant opened #127 "helm-dash-build-source: Invalid function: (docset docset)"
Hi!

I followed manual. Installed and activated PHP docset and when I try 'helm-dash' I get message as in topic.

[2016-03-21 09:53] kidd commented on #127
Can you check that you have 'lexical-let' macro available? If not, try (require 'cl), eval helm-dash, and try m-x helm-dash again.

Thanks

[2016-03-21 10:50] marcinant commented on #127
No, I don't have 'lexical-let'. However I solved this problem adding
[code]
to helm-dash.el as described in [Emacs Wiki](https://www.emacswiki.org/emacs/DynamicBindingVsLexicalBinding)

[2016-03-21 11:48] kidd commented on #127
We should probably add this to the file.
If you feel like issuing a PullRequest, we'll merge it instantly, if not, I'll do it later today (I hope)

[2016-03-22 11:39] #127 closed

[2016-04-09 10:48] davidshepherd7 commented on #67
Related: if you set buffer-local docsets they will not be used until the *second* call to helm-dash in that buffer.

I've submitted a pull-request with a fix that works for me and doesn't require any scary hacks like writing`helm-current-buffer`.

[2016-04-10 14:44] #67 closed

[2016-05-15 17:20] nathankot commented on #119
Here's my implementation:

[code]

Note that:

* `(require 'dash)`
* `helm-dash-search` is deprecated (replaced with helm sources in `helm-dash`)

[2016-05-15 23:17] stardiviner commented on #119
@nathankot  this implement works find.

[2016-05-18 10:35] declanqian commented on #119
Yeah, it does work. Awesome.  Seems the result list face need some improvements.
Helm seems grouped the result:
![Helm-dash screen shoot](http://i.imgur.com/OCVFRAI.png)
Here is the counsel-dash
![counsel-dash screen shoot](http://i.imgur.com/jgniThT.png)
Does someone already working on this? Or should I try?

More functions need to be switched to ivy, I think.

[2016-05-18 13:48] kidd commented on #119
I'd recommend to open a PR with this code, and make it the most compatible we can with the other options (no magic numbers, etc)  Then we can think on merging it when the functionality surpasses some completeness level (I'd say we're kinda there already)

[2016-05-19 01:22] nathankot commented on #119
@kidd I'm happy for someone with copyright assignment for swiper to take the code and make a PR with it :) I haven't gone through the process and a month seems like a long wait tbh

[2016-05-19 07:21] abo-abo commented on #119
@nathankot I think your code belongs in either `helm-dash` or a stand-alone package depending on `helm-dash`. It's not always the best idea to put everything in `counsel`. See for instance, `counsel-projectile` - a nice stand-alone package that depends on `projectile` and `ivy`. No CA required in that case, obviously.

[2016-05-19 07:27] nathankot commented on #119
@abo-abo true :) I'll find some time and release this as a separate package, not sure if it belongs in helm-dash given its strong ties to helm.

I've also written a counsel-flycheck, will do the same for that.

[2016-05-19 15:42] kidd commented on #119
We could start by adding it in contrib in the beginning (to have the code somewhere else appart from in this issue).

After that, maybe have a variable in helm-dash to be able to decide which frontend do we want to activate.

However, I'm not sure if this is a  real solution or just buys us a bit of time in exchange for added complexity and compatibility enforcing in the future.

[2016-05-19 15:47] stardiviner commented on #119
I prefer this way.

[2016-05-23 19:33] davidshepherd7 commented on #92
I had an attempt at fixing this thinking it would be a nice easy exercise to help me learn how `async-start` works. Let's just say I still have no idea how to correctly use `async-start` but I now understand why almost all of emacs is synchronous.

[2016-05-23 23:00] kidd commented on #92
lol!  Feel free to enlighten us :)

[2016-05-24 07:03] nathankot commented on #119
Hey guys,

I've released [counsel-dash](https://github.com/nathankot/counsel-dash) which is pretty much the code above wrapped up.

I'm hoping that helm-dash can de-couple itself from helm, and offer a separate dash-only library so that users of counsel-dash don't have to install helm. Then I can update counsel-dash to depend only on the dash specific library :)

[2016-05-24 14:38] areina commented on #119
Hey @nathankot,

this is so great. Yes, I agree that de-coupling it from helm could be very useful, we will work on that next days. Probably, the most difficult part will be choosing a name for it, because dash.el already exists and could be a bit confusing :)

[2016-05-27 01:52] nathankot commented on #119
@areina awesome :) Give me a ping when it's been de-coupled.
Agreed with the naming haha - perhaps dash-docsets.el or docsets.el?

[2016-05-27 18:19] declanqian commented on #119
Ha, this is happening. 👍

[2016-05-30 08:38] davidshepherd7 commented on #92
So `async-start` works by spawning a new instance of `emacs -Q` and passing it an sexp to run. If you need any variables from the main emacs you need to make sure they are captured in a closure and  pass the closure as the sexp (I *think* I got this part working). I don't know how to capture global varaibles (e.g. `defun`s) in a closure. I tried to create local variables using `let` but it just ca

[2016-05-30 10:33] davidshepherd7 commented on #92
The trick seems to be to only do the *absolute minimum* asynchronously. No filename formatting, no result parsing, only a single url-get per async call.

[2016-05-30 21:17] kidd commented on #92
Thanks for the explanations. I tried async-start for some time, doing a few eperiments and here are my findings:

It seems that the trick is to manually require all needed libraries that are not in the core and will be needed in the child process. The only values that get captured are the ones in the function environment.

soo... (async-start (lambda () "executed in child")   (lambda () "executed

[2016-06-07 19:30] istinspring opened #132 "helm-dash-available-docsets: Wrong type argument: integer-or-marker-p, nil"
Trying to install dash docsets using ```helm-dash-install-docstes```

got error

[code]

what could be wrong?

[2016-06-08 09:19] kidd commented on #132
I just tried the latest version and works fine here. Only thing that occurs to me is that you didn't have internet connection and the response is invalid....  but not sur

[2016-06-13 08:38] #92 closed

[2016-07-16 17:22] jvillasante opened #135 "helm-plugin not found"
When using either `helm-dash` or `helm-dash-at-point` I get the following error:

I'm using spacemacs and helm is installed
Anyone?

[2016-07-16 17:23] jwintz commented on #135
Fixed in #134.

[2016-07-16 18:43] kidd commented on #135
yup, fixed there. :)

[2016-07-16 18:43] #135 closed

[2016-07-16 18:53] jvillasante commented on #135
yes, it is fixed. But package not on melpa yet!

[2016-07-16 19:06] jwintz commented on #135
Just wait a little bit ;-)

[2016-07-17 02:11] wd opened #136 "Can't view doc"
I'm using dash 3.3.0 on Mac, and downloaded Lua_5.3 doc in dash. After call helm-dash in emacs, and input "string.", it will show a list include the keyword, but if I press C-j to try to view, will get this error:

[code]

My emacs settings
[code]

And files under "Resources" directory, there is "Documents" subdirectory here.
[code]

[2016-07-17 04:09] tuhdo opened #137 "progn: Cannot open load file: No such file or directory, helm-plugin"
There's no `helm-plugin` in latest version of Helm anymore. It was remove in this commit on 14 July: https://github.com/emacs-helm/helm/commit/cf106ec36f163743ab79cb6661442c4d8113a11d

[2016-07-17 04:15] tuhdo commented on #137
Apparently upgrading to latest version resolved this issue.

[2016-07-17 04:15] #137 closed

[2016-07-17 08:31] kidd commented on #136
In the 'Resources' directory there should be a 'Documents' directory with the actual contents of the docs. If you installed the docset with the official dash, I'd say try to search where the docs are and they patch the paths somehow. I don't have a mac, so I can't try it :/

You can try to run helm-dash-install-docset and install Lua 5.3 and see if the 'documents' directory is there.

[2016-07-17 10:06] wd commented on #136
I've tried run helm-dash-install-docset to install Lua docs, it worked, there is a 'documents' directory.

I found there is a tarix.tgz in the resource directory in docsets installed from the official app, it seems the doc files are there.

[code]

[2016-07-17 10:06] #136 closed

[2016-08-30 11:59] sanklamm opened #140 "Use docsets from Zeal"
Since I am on Windows, I have to use Zeal as my document browser. Zeal creates a subfolder /Doc where all docsets live in. Like so:
"../Zeal/Doc/Python_3.docset"
I understand that these are the same as in dash?
Is there a way to use these docsets with helm-dash? I already tried:
(setq helm-dash-docsets-path "C:/Users/my.name/Apps/ZealPortable/Doc/")

[2016-08-30 16:20] kidd commented on #140
Changing helm-dash-docsets-path should work. not sure what is the correct path, but it should be definately possible.

Btw, you don't need zeal. helm-dash uses sqlite3 (that one you do need) to directly search in the docsets.

[2016-08-30 17:26] sanklamm commented on #140
I will try again tomorrow.
Is it true that if the helm-dash-docset-path is correctly set that I would see a list of all docsets when I call helm-dash-docset-activate (I don't have the correct function in front of me)?

Is it enough to set the PATH of sqlite in my emacs config or does it need to be set in Windows?

[2016-08-31 09:22] sanklamm commented on #140
I changed helm-dash-docsets-path with
`(setq helm-dash-docsets-path "C:/Users/my.name/AppData/Roaming/.emacs.d/docsets")`
I checked if the path was right with
`(directory-files "C:/Users/my.name/AppData/Roaming/.emacs.d/docsets")`
which listed the `*.docset` files. But when I used
`helm-dash-activate-docset`
the list was empty. What am I doing wrong? I also have sqlite3 in my PATH.

[2016-08-31 09:46] kidd commented on #140
Hi,
you should (helm-dash-activate-docset "Python_3")  or "Python 3", depends on the name of the directory.

then, (helm-dash) should open helm-dash with the python docset.

some errors write info in some *helm-dash-errors* buffer.  maybe it has useful info.

[2016-08-31 09:51] sanklamm commented on #140
That just returns nil.

[2016-08-31 10:14] kidd commented on #140
just returns nil? It should at least open the dash interface.

if you have some elisp-fu, try toggle-debug-on-errors, or tracing some functions (I have no windows to try)

[2016-08-31 10:17] sanklamm commented on #140
you mean the app Dash? I don't have that since I am on Windows. That's why I used Zeal, which fetches the same docsets. I am trying to access those.

[2016-08-31 10:41] kidd commented on #140
sorry, I ment the helm interface

[2016-08-31 11:15] sanklamm commented on #140
yes. it opens the empty helm interface. I guess this would list all docsets in the specified folder. A search for an existing docset ("Python_3" or "Bash") returns "no match".

[2016-08-31 11:27] kidd commented on #140
it doesn't list all docsets in the folder. you have to 'activate' them, putting them in helm-dash-active-docsets list.

Then they should be searched when searching for a term. I don't know what should be the output of looking for 'bash'. try looking for 'print' or 'echo'.    also, trace-functions.

[2016-08-31 11:35] sanklamm commented on #140
ok. At least I got helm-dash to find the docsets now. But it isn't able to load the docs. I think either the docsets generated by Dash on the Mac are different than the ones on Windows or the way you deep-link to a specific section in a html file is different on both systems. I hereby declare this experiment as failed.

[2016-08-31 11:38] sanklamm commented on #140
Tomorrow I'll transfer a few docsets from my Mac to the Windows machine and check again.

[2016-08-31 12:29] sanklamm commented on #140
Right. I got it (partly) to work. If helm-dash uses an external browser, it can open the docs. But I want to use eww (thats why I picked helm-dash over zeal-at-point in the first place).
Sadly eww is not able to resolve local file URLs. It opens a ftp connection and thinks "c:" in the path c:/User/... is a host.
Don't know, is that your business how you pipe URLs to eww or is that eww's fault?

Th

[2016-08-31 12:29] kidd commented on #140
the docsets are exactly the same. they are tgz files (which helm-dash can also download without zeal/dash).

Good luck with your next experiments. keep us informed

[2016-08-31 12:34] kidd commented on #140
eww has some issues (in mac at least, see helm-dash readme).

so, it's either windows' , or your config (maybe you have to escape c:\ somehow), or eww's .

zeal-at-point and helm-dash approaches are quite different. Use what works best for you.

[2016-08-31 12:52] sanklamm commented on #140
Yes, I know. Do you - by any chance - know of someone who got helm-dash to work on windows? With opening the docs inside emacs that is?

[2016-09-01 07:14] sanklamm commented on #140
It seems w3n is the way to go instead of eww. w3n is able to resolve the URLs properly. But getting w3n to work on Windows involves a couple of extra steps. Especially with spacemacs as there is no w3n layer available.
But it works now and I'm happy with it. Thanks again for your time.

[2016-09-01 07:14] #140 closed

[2016-09-22 08:03] markhuyong commented on #36
for mac ox El Captan, spacemacs:
* set os default browser to chrome
* add config to defun dotspacemacs/user-config ()
[code]

[2016-09-26 09:26] tobimensch opened #141 "Make search case insensitive"
Example (for Qt5 docset):

With the search terms "QWidget policy"

helm-dash will not find

Qt QWidget::sizePolicy (Function)
etc.

with the same search term in capital letters "QWidget Policy"

helm-dash will find

Qt QWidget::sizePolicy (Function)
Qt QWidget::sizePolicy (Property)

and so forth.

[2016-09-26 09:44] kidd commented on #141
We could try to use COLLATE NOCASE in sqlite searches if all the query is downcase, and make it case sensitive otherwise....

[2016-09-26 10:11] tobimensch commented on #141
@kidd:

I'd prefer it to be case insensitive no matter what. (Maybe this could be an option?) In this example the "QWidget" string came from a helm-dash-at-point command. I most certainly don't want to hit  backspace n times just to write qwidget in lower case, only so I can have a case insensitive search in functions/methods/properties and the like. :-)

[2016-09-26 10:52] tobimensch commented on #141
@kidd:
It is already the case that the search is case insensitive if the complete query is in lower case. But my problem is that class names in the code start with a capital letter, and I'm using helm-dash-at-point.

As a workaround I'm now using the following:
[code]

There are multiple problems with it:
1) I don't know how to put it in my emacs config. It says (helm-dash-initialize-debugging-buf

[2016-09-26 13:59] kidd commented on #141
Try to set `helm-case-fold-search' to t .   I think that should solve it :)

[2016-09-26 14:34] tobimensch commented on #141
@kidd

That helped indeed.

[2016-09-26 14:35] #141 closed

[2016-10-21 07:42] JAremko opened #142 "zeal-at-point doesn't work with Emacs Lisp docset"
With Emacs lisp  `zeal-at-point` shows nothing and the search string is `emacs lisp:let` - *if (let... is at point*. It's probably because  Emacs Lisp docset(http://sanfrancisco.kapeli.com/feeds/Emacs_Lisp.tgz ) has white space in the docset folder name.

[2016-10-21 07:44] JAremko commented on #142
Whoops. I realised that it's probably different package :smile:

[2016-10-21 07:44] #142 closed

[2016-10-21 07:55] kidd commented on #142
Heh,

Maybe helm-emacs is the solution :)

[2016-12-05 16:17] rlazo opened #145 "Android docset is broken"
I just updated the Android docset and the URL it tries to navigate to is

`file:///home/me/.docsets/Android.docset/Contents/Resources/Documents/developer.android.com/reference/java/util/concurrent/atomic/AtomicReference.html%3Cdash_entry_menuDescription=java.util.concurrent.atomic.AtomicReference%3E`

For some reason the

`%3Cdash_entry_menuDescription=java.util.concurrent.atomic.AtomicReference%3

[2016-12-07 17:14] areina commented on #145
Hi @rlazo , I reproduced the issue, I'm going to prepare a fix. Thanks for report it!

[2016-12-07 20:30] #145 closed

[2017-01-06 16:54] jonyamo opened #147 "Feature request: add support for versioned docsets"
In Dash, when installing a new docset, there is an option to install the latest version or an older specific version, if available.

This would be a great addition to helm-dash which currently only allows for installing the latest version of a docset.

[2017-01-10 16:04] areina commented on #147
Hi @jonyamo , I agree, that would be an interesting addition. Will see if we can integrate it soon. Thanks for your feedback!

[2017-01-26 16:20] renatofdds opened #148 "json-read: JSON readtable error"
I'm getting this error trying to run helm-dash-install-docset:
[code]
GNU Emacs 25.1.1 (x86_64-unknown-linux-gnu, GTK+ Version 3.22.5) of 2016-12-23

[2017-01-26 20:10] kidd commented on #148
can you try to browse to  https://api.github.com/repos/Kapeli/feeds/contents/ ?
It looks like there's some issue with parsing that page, but it works fine on my machine... maybe is a connectivity issue?

[2017-01-26 20:34] renatofdds commented on #148
Found the culprit:
GitHub rejects requests without User-Agent with:
[code]

and i was using ```url-privacy-level``` set to ```'paranoid```, effectively disabling the User-Agent for url-retrieve functions.

You can close this, sorry for the inconvenience.

[2017-01-26 20:49] #148 closed

[2017-03-13 20:19] timmli opened #150 "sqlite3 not found under Windows when using setenv"
Under Windows, I would like to use `setenv` to locally set the PATH variable from within Emacs:

     (setenv "PATH" "/path/to/sqlite3" ";" (getenv "PATH"))

This makes `sqlite3` available to the shells, but strangely not to `helm-dash`. It will complain that it cannot find sqlite3:

Is there a way to avoid the global modification of the (user) PATH variable?

[2017-03-13 23:56] kidd commented on #150
Hi timmli,

We are using call-process, which doesn't start a shell. I'm not sure if (setenv "PATH" ..) should make it available to child processes....

Can you try to modify the "sqlite3" string to match the full path of your sqlite3 binary? If it works, we can make this a defparameter/defvar, and we can all be happy :).

Thanks for the report

[2017-03-14 23:02] timmli commented on #150
@kidd Thanks for your reply. Sadly, it doesn't work either when specifying the full path to `sqlite3`. I'm really puzzled, because `call-process` should take `exec-path` (where sqlite is meantioned) into account, following the Emacs docs:

Confusing it is indeed. I will investigate further.

[2017-03-14 23:20] kidd commented on #150
doh... strange indeed ... :(

[2017-03-14 23:55] timmli commented on #150
OK, found a solution: The problem was that the path to the sqlite binaries was not really propagated to `exec-path`. This is what was missing from my init.el:

    (setq exec-path (append (split-string (expand-file-name (getenv "MYPATH")) ";") exec-path))

Assuming that you only want to add the path to sqlite, it would look like this:

     (setq exec-path (append '("/path/to/sqlite") exec-path))

[2017-03-14 23:55] #150 closed

[2017-03-15 00:07] kidd commented on #150
good that you could solve it!
Enjoy!

[2017-05-21 18:46] sometimesfood opened #151 "New release of helm-stable"
The last released version of helm-dash (1.2.0) does not work with current versions of helm (2.7.0) since it requires `'helm-plugin`.

Could you please release a new version of helm-dash in order to fix this?

As far as I can tell it should be sufficient to remove the offending line from `helm-dash.el`. At least I haven't encountered any problems with that small modification yet.

[2017-05-21 19:01] sometimesfood opened #152 "New function to install docsets if they are not yet installed"
I like to add my list of docsets to be installed to my Emacs config in order to share them between multiple systems.

In order to do that, I wrote a simple function named `helm-dash-ensure-docset-installed` which is used like this:

[code]

Would you be interested in including something similar in `helm-dash`? I could add some documentation and submit a pull request if you are interested.

[code]

[2017-05-21 21:33] kidd commented on #152
I think it's a nice helper function and I'd be happy to have it inside helm-dash.

[2017-05-22 07:23] BobCromwell commented on #136
It's better Dash and helm-dash can share installed docset.

[2017-05-22 12:21] sometimesfood commented on #152
Great, happy to hear that!

I'll add some documentation and submit a pull request, then.

[2017-05-29 15:31] sometimesfood commented on #152
Sorry for the long delay.

Just submitted a pull request (#153). Closing this issue.

[2017-05-29 15:31] #152 closed

[2017-06-15 03:26] amosbird opened #154 "auto filter docs with current major mode"
When in rust mode, I'd like to only search for rust docs, however I get this ![](https://la.wentropy.com/KJEE.png)

[2017-06-15 09:05] amosbird commented on #154
Ok, the prefix doc source filter works, but it cannot contain a space. `Emacs Lisp` doesn't work.

[2017-06-15 11:08] kidd commented on #154
Hi,
you can use this to add docsets depending on the modes (while having some common ones). https://github.com/areina/helm-dash#buffer-local-docsets .

you can set-local the helm-dash-common-docsets variable and have complete control over what is available in  each buffer.

[2017-06-15 13:46] amosbird commented on #154
@kidd Thanks!

[2017-06-15 13:46] #154 closed

[2017-06-15 15:44] amosbird opened #155 "Tremendous amount of memory usage"
When doing `helm-dash-install-docset`, emacs ends up using more than 10GB real memory. And the memory never gets released until I restart emacs.

env:

emacs 25.2
helm-dash 20170531.135

[2017-06-16 02:56] amosbird opened #156 "auto-open doc when there is only one candidate"
For some docsets, keywords are quite distinctive, such as elisp. Auto-opening would be more productive.

[2017-06-16 06:10] areina commented on #155
Hello @amosbird!
Which docset are you trying to install?

[2017-06-16 07:01] amosbird commented on #155
I tried `c, c++, python, elisp, go, rust` . Any of these can reproduce this issue.

[2017-06-16 09:41] areina commented on #155
Great, thanks, will take a look.

[2017-07-01 09:56] fleimgruber commented on #113
@BoysFight which path are you referring to?  I am using `helm-dash` 20170531.135 from MELPA and it works on this Windows system.

[2017-07-10 18:17] wmealing commented on #151
I also commented this out with no adverse affect that i was able to notice.

[2017-07-11 07:47] kidd commented on #151
ooops. It seems we forgot this one.... :(

yes, I'll try to fix it asap.

[2017-07-17 06:46] 2pice opened #157 "'No such file or directory, helm-plugin' error when installing helm-dash via MELPA"
I am running emacs version 25.2(9.0) and was trying to install helm-dash (package version 1.2.0, and version 1.2.1). I get the error:
helm-dash.el:41:1:Error: Cannot open load file: No such file or directory, helm-plugin

I am new to emacs. So I apologize if I am reporting something with an obvious fix.

[2017-07-18 10:02] 2pice commented on #157
I was pulling from MELPA stable. Upgrading to latest fixed the issue.

[2017-07-18 10:02] #157 closed

[2017-07-22 21:41] kidd commented on #151
finally did it. :sweat_smile: . pushed tag 1.3.0 . melpa stable should do its magic shortly

[2017-07-22 21:41] #151 closed

[2017-07-23 07:53] sometimesfood commented on #151
Thanks! Seems to be working great for me. 👍

[2017-07-31 19:36] Grimscythe1983 commented on #155
Exact same issue here (same setup: Archlinux and Emacs 25.2) , however, installing Python 3 docs and Typescript docs went ok and pretty quickly.

[2017-08-29 09:32] otsaw opened #158 "helm-dash-installed-docsets: "Not a directory""
Hello,

https://github.com/areina/helm-dash/blob/9a230125a7a11f5fa90aa048b61abd95eb78ddfe/helm-dash.el#L241-L250

Line 246 above fails with `(file-error "Opening directory" "Not a directory" ...)` if `helm-dash-docsets-path` contains regular files. I'm not really familiar with `cl-loop` or all the directory structures the code is trying to cover, so I didn't send a PR. Maybe wrap that line in an `

[2017-08-31 08:05] kidd commented on #158
what's the value of your helm-dash-docsets-path?  I'd think that setting it to ~/.emacs.d/docsets/ should do the trick as it's ment to be a directory where all docsets are placed.

Then it's doing several checks, but if your structure is

[code]
It should work

[2017-08-31 09:07] otsaw commented on #158
`helm-dash-docsets-path` is set to `~/.emacs.d/docsets` and I do have the docset directories directly underneath that, but also regular files. So, `helm-dash-installed-docsets` iterates over

[code]

The checks should ignore that third line above instead of throwing an error.

[2017-08-31 10:27] #158 closed

[2017-08-31 10:27] kidd commented on #158
yup, you're right. Fixed :)

[2017-09-04 20:16] jesuspc opened #160 "Feature request: additional helm-dash-candidate-format"
Currently there are three format tokens available:

%d - docset name
%n - name of the token
%t - type of the token

Even when using all of those there are still circumstances in which a search pattern outputs multiple results that can not be distinguished. For instance:

<img width="1280" alt="screen shot 2017-09-04 at 20 52 52" src="https://user-images.githubusercontent.com/2353002/30037655-f5e96

[2017-09-04 20:26] kidd commented on #160
Yes, it probably can be added.

We should take a look at the table structure of those docsets and see where to fetch that data.

[2017-09-05 21:40] kidd commented on #160
I have a working solution that solves this, but I'm afraid there can be a performance degradation. I'll push it in a branch and we should try it for some time.

I'm probably hairsplitting, but want to be sure that for normal cases there is no noticeable delay (ill-formed strings would probably show the delay, but f*ckit)

[2017-09-05 22:03] kidd commented on #160
there you go. test it in that branch for now. https://github.com/areina/helm-dash/pull/161

[2017-09-06 18:35] jesuspc commented on #160
That's great! Thanks!

<img width="1280" alt="screen shot 2017-09-06 at 19 32 37" src="https://user-images.githubusercontent.com/2353002/30128340-35802c30-933a-11e7-97f4-eb8d611d895e.png">

[2017-09-07 22:08] rswgnu opened #162 "Feature request: On Mac, automatically install docsets downloaded by Dash application"
A common scenario might be that a Mac user starts with the Dash application, downloads a bunch of docsets and uses that application.  Then he decides he wants Emacs integration, so he installs helm-dash.  But then he has no way to utilize those docsets without installing each docset again under helm-dash.

The mechanics to solve this are all already in the helm-dash package.  You have the standard

[2017-09-08 09:09] kidd commented on #162
Hello,
There is the variable `helm-dash-docsets-path' which tries to be smart and use the original dash's docsets path "~/Library/Application Support/Dash/DocSets".  We shouldn't be reinstalling the docset anywhere as we can reuse the files used by dash.

But it's true that there's a second part to having a docset really active, which is have it in helm-dash-common-docsets. Defaulting to * might b

[2017-09-08 21:29] rswgnu commented on #162
On Fri, Sep 8, 2017 at 5:09 AM, Raimon Grau (rgrau) <
notifications@github.com> wrote:

​Yes, but it seems you also need to unpack and scan the .tgz archive for
each docket.  Try setting helm-dash-common-docsets to a list of the dockets
found in that directory.  That alone will not work based on my experience.

So yes, we want to reuse the dockets but the way the code is now, it won't
recognize an

[2017-09-13 10:44] kidd commented on #160
I'm merging it for now. If it becomes a performance issue, we can optimize it by evaluating %f lazily.

[2017-09-13 10:45] #160 closed

[2017-11-22 08:46] Luis-Henriquez-Perez opened #167 "Never finishes installing docset"
I am on Debian 9. I installd sqlite3 and helm dash. Installing some docsets (`html` `emacs lisp`) takes a while but is O.K. However when I try to install the `C` docset for example, emacs uses 97% of my cpu and has taken so long that I've had to kill it. Is there some alternative thing I can do to install such docsets?

[2017-11-22 09:58] kidd commented on #167
Hi Luis,
I just tried it and it's working fine here. Is it consistently failing in your box? it might have been some hiccup in the connection. elisp http client is not very reliable in that aspect.

If you get the docset gzip you can use (helm-dash-install-docset-from-file "/path/to/file.gz")

[2017-11-22 15:35] Luis-Henriquez-Perez commented on #167
Hi @kidd,
It is consistently failing. I've tried it 4 separate times (one of those just now again). Other packages that connect to the internet (w3m eww) seem to connect fine. The last message displayed is `Contacting host: sanfrancisco.kapeli.com:80` and then CPU usage flies to 99%. I don't to get the gzip so I'm looking up online how to do it but once I get it I'll let you know how `helm-dash-in

[2017-11-22 15:53] Luis-Henriquez-Perez commented on #167
Ok. I just downloaded `Zeal` and used it to get the `C.docset` file and moved it to the `.docset` folder. I know, kind of defeats the purpose but works for now. Also let me know what I can do to show you a reproduction of the issue I'm having. Would dropping a `gif` with the steps I take work so you can see what's happening for yourself? Or would you prefer more system specs?

[2018-01-10 16:37] Luis-Henriquez-Perez commented on #167
After leaving this issue for a while and returning to it, my hypothesis is that helm-dash is actually installing the docset, but that just takes a really long time and a many resources on my machine.
When I installed the `Emacs-Lisp` and 'Clojure' docsets, it did so very quickly (perhaps because it's smaller). When I installing `Haskell` and `C` docsets it took much longer but eventually worked.

[2018-01-10 16:37] #167 closed

[2018-01-10 19:25] kidd commented on #167
Oh... yes, from what I see, the decompressed haskell docset is 1/2 Gb, and C is 300Mb, so yes, this might be it.

Thanks for passing by and writing your findings.

Cheers

[2018-02-14 10:40] fikovnik commented on #155
I have the same issue when installing Scala docset including 100% CPU usage

[2018-02-21 20:02] ebobby opened #168 "`helm-dash-docset-installed-p` sometimes confuses underscores and version numbers."
Maybe it is me trying to be clever but if I want to install `"Ruby_on_Rails_5"` but not re install it I have to call `helm-dash-docset-installed-p` with `Ruby on Rails`.

Would it be worth while to make it so `helm-dash-docset-installed-p` works when you pass it the same value that to pass to `helm-dash-install-docset` ?

For example, I had to get a bit crafty on my own config to avoid downloading

[2018-02-28 03:36] kidd commented on #168
Hola!

AFAIR the docset tgz names do not have any correspondence with the directory the unzip to. For example, All Lua docsets, which have different urls (obviously), so different tgz filenames, unzip to "Lua" directory.

It's quite a big mess, but if you find a way to cover most of the cases, and doesn't imply any regression, I'd be happy to merge it.
Try with Lua, RoR and Common Lisp (space vs u

[2018-04-26 08:01] olymk2 opened #170 "helm-dash keeps connecting to remote servers"
I have placed this in my config.

[code]

how ever on each start I can see it connecting to san fransico servers, the docs have already been downloaded so the above code should stop it rechecking, this currently slows emacs startup times dramatically.

Am i doing something wrong, I want it in startup so when i pull on a new machine the docs are there ready to be use.

[2018-05-03 09:18] #170 closed

[2018-06-02 19:53] gilbertw1 opened #173 "Split dash docs specific logic into separate library"
It would be great to have the hard work put into this package to interact with Dash docsets available to other packages without requiring any dependencies on helm. I personally use [counsel-dash](https://github.com/nathankot/counsel-dash) in my configuration which depends on `helm-dash` and as a result requires that I load `helm` as well. This would additionally encourage other packages to be crea

[2018-06-04 17:05] kidd commented on #173
Wow! That's super nice. First of all, thanks for your initiative and effort there!

 I'd say it's a clear yes. @areina wdyt?  I'm going to look at the code this week but the idea seems pretty sane

[2018-06-05 00:42] areina commented on #173
Hey @gilbertw1, that's fantastic. I will also take a look at the code, but I like the idea. Let's talk during the next days to see how we can follow the plan that you have described.
Thank you!

[2018-06-05 01:17] gilbertw1 commented on #173
That's great, thanks for the quick response!

I was thinking about the best way to move forward with the new repo `dash-docs` or whatever we decide to call it. I think the cleanest approach would be to create a new repo which is essentially a clone of `helm-dash` and I could create a pull request against it with all of my changes. This would likely be the easiest way to do a code review and track

[2018-09-25 21:20] politza opened #174 "Invalidly quoted urls in docset"
I downloaded the GLib docset and if I browse the help for e.g. the function `g_hash_table_new`, the browser is opened with a URL like

    file:///long/boring/path/glib-Hash-Tables.html#//apple_ref/func/g%%5Fhash%%5Ftable%%5Fnew

 Note the doubled percent characters.  While eww does not seem to have problems with this, firefox just ignores the anchor and displays the page at the top, instead of sc

[2018-09-26 15:34] politza commented on #174
Archlinux

The strange thing is, now I can't reproduce the doubled percents
anymore.  But now I noticed, that letting Emacs open the URL using
xdg-open, it still ignores the anchor part of if.  So choosing an
explicit browse-url-browser-function seems to fix it for me.

I think we can close this for now, thanks.

[2018-09-26 18:47] kidd commented on #174
maybe xdg-open uses a shell inside, and '#' is interpreted as a comment.

...All those things are lots of fun....

[2018-09-26 19:34] politza commented on #174
I never even use that program.  I was just testing some packages with
emacs -Q.

[2018-10-05 17:44] bostonaholic commented on #162
For whatever reason, for me on macOS, the `helm-dash-docsets-path` gets set to `~/.docsets`.

[2019-01-14 23:05] elheremes commented on #132
I've got the same problem too!

[2019-01-15 11:36] kidd commented on #132
can you try with `toggle-edebug-on-error` ?

[2019-01-17 12:48] elheremes commented on #132
`Debugger entered--Lisp error: (wrong-type-argument integer-or-marker-p nil)
  helm-dash-read-json-from-url("https://api.github.com/repos/Kapeli/feeds/contents/")
  helm-dash-official-docsets()
  byte-code("\300\301\302 \"C\207" [helm-dash-read-docset "Install docset" helm-dash-official-docsets] 3)
  call-interactively(helm-dash-install-docset record nil)
  command-execute(helm-dash-install-docset

[2019-01-19 11:40] starenka commented on #132
happends to me w/ `helm-dash-install-docset`:

[code]

[code]

[2019-02-11 21:28] dchrzanowski opened #178 "Cannot retrieve list of official docsets"
`helm-dash-read-json-from-url` seems to fail to retrieve data from "https://api.github.com/repos/Kapeli/feeds/contents/" with the error: `Wrong type argument: integer-or-marker-p, nil`

[2019-02-12 08:21] kidd commented on #178
This looks like a dup of #132. It is a connectivity issue trying to fetch that json.

I can't reproduce it in my machine, and even we could add some protection so it doesn't crash hard (PRs accepted), I'm not sure it'd solve the real issue.

[2019-02-12 09:19] dchrzanowski commented on #178
I'll try again today, see if there is problem in reproducing the error.

[2019-02-13 01:32] buhudu commented on #178
Same problem here! Any suggestions?

[2019-02-14 16:25] kidd commented on #178
depeding on your elisp debugging skills you can try to call `edebug-defun` on the breaking function and try to see why the variable `url-http-end-of-headers` is nil.

There's this reported bug https://emacs.stackexchange.com/questions/32950/why-isnt-url-http-end-of-headers-set-correctly-when-using-url-automatic-caching, but the behavior is different, so it being `nil` probably means we got no cont

[2019-02-14 17:59] dchrzanowski commented on #178
Yes I've already looked at this post from stack before. There really is no reason to not get any data back since the url is live.

[2019-02-15 02:14] buhudu commented on #178
Weird, when I step through the debugger on url-retrieve in url.el I can get to the point where I select a docset to install. But then I get a "Bad URL" error.

Outside of the debugger I don't even make it to that step.

[2019-02-15 08:09] dchrzanowski commented on #178
That's some odd behaviour. My Elisp fu is not good enough to tackle this.

[2019-02-18 03:09] balalaXD opened #179 "Error when install docset `M-x helm-dash-install-docset`"
https://github.com/areina/helm-dash/blob/0ac2db529577fa63f2ed32310062873c585b91de/helm-dash.el#L206-L211

[code]

[2019-02-18 03:15] balalaXD commented on #179
see #178

[2019-02-18 03:15] #179 closed

[2019-02-18 13:28] balalaXD commented on #178
Is it possible to install docsets outside emacs?

[2019-02-18 15:11] balalaXD commented on #178
workaround

[code]

In emacs, run `M-x eval-expression`:
[code]

[2019-02-18 16:02] buhudu commented on #178
It works. Thank you.

[2019-02-18 16:58] dchrzanowski commented on #178
Alternative:

You can also go to the list of feeds [here](https://github.com/Kapeli/feeds). Click the desired xml file. Then download the tgz file from any of the url's from the xml file. Once you have the file downloaded, you can run `M-x helm-dash-install-docset-from-file` and point it to the downloaded file.

[2019-02-18 19:12] kidd commented on #178
Here's another alternative. To rewrited the function so that it uses curl but returns the same result.  Works on my machine (TM)

[code]

[2019-02-19 05:19] balalaXD opened #180 "How to narrow down to one specific docset?"
According to document:

    To narrow the search to just one docset, type its name in the beginning of the search followed by a space.
    If the docset contains spaces, no problemo, we handle it :D.

Edebug with:
https://github.com/areina/helm-dash/blob/0ac2db529577fa63f2ed32310062873c585b91de/helm-dash.el#L428-L439

After run `M-x helm-dash`, stop at `(defun helm-dash-maybe-narrow-docsets (patte

[2019-02-19 11:48] kidd commented on #180
`helm-pattern` is the 'global' variable that contains the text the user wrote as input to helm.

Not sure, but maybe the search for the docset is case sensitive. Try with exact matching case, and if it works, we can work on making it case insensitive if it makes sense (I think it does)

[2019-03-04 13:41] jeeger commented on #35
Thanks to the other people in this thread, I have gotten helm-dash to work on Windows.

The key requirement was having a new enough version of tar (1.23 works, 1.13 was too old), and adding the `--force-local` argument to `tar` (this should be added on all platforms, as it won't make a difference on Linux and Mac OS). I've installed all dependencies via scoop.

I've also replaced the `url-` functi

[2019-03-04 15:36] jeeger commented on #113
More information in #35.

[2019-03-04 16:00] jeeger commented on #35
And an additional wrinkle of docsets containing files with invalid file name characters on NTFS (`<>:"/\\|?*`). I've tried fixing this with the GNU tar `--transform` option only on windows systems. To see an example for invalid characters, look inside the C docset, where there are several files that have a colon in their name. I've implemented this in jeeger/helm-dash@279fa5c76be9512f10c167b7fe7b4

[2019-03-04 16:17] jeeger commented on #178
I've replaced all the URL functions with calls to curl, since it seems curl's proxy handling is a bit better than url.el's. The change is available [here](jeeger/helm-dash/) in the `windows-fixes` branch (should also work on Linux☺).

[2019-03-04 16:44] jeeger commented on #155
The problem is that during extraction of the docset, the full list of files in the `.tgz` file kept in memory and passed around as a string. This is used to extract the folder the docset is stored into. The `C` docset for example is very large.

However, this is only necessary once during installation. A fix would be to split the extraction of the file from the parsing of the folder name, so all t

[2019-03-10 01:48] #180 closed

[2019-03-12 19:50] kidd commented on #155
should we provide an alternative function that uses the shell and document it? idk, not ideal, but....

Otherwise, @jeeger do you have that function that uses the shell? if it can work as a replacement for an existing function, could you paste it here for future reference?

[2019-03-13 00:02] jbaum98 commented on #178
I think that this a problem with `url-retrieve-synchronously`. This works:
[code]
As a side note, if we do want to switch to `curl` I think we should use [`request.el`](https://tkf.github.io/emacs-request)

[2019-03-13 02:11] jbaum98 commented on #173
What's the status of this? Is there anything I can do to help out?

[2019-03-13 09:41] jeeger commented on #178
Nope, this fails here as well.

Yes, that would make much more sense. I'm not familiar with `request.el`, but I'll have a look at it if my ad-hoc curl patching fails ☺.

[2019-03-13 15:03] jbaum98 commented on #178
What do you mean by "here"? I just meant that evaluating that using `eval-expression` gives me a buffer with a response in it, whereas
[code]
doesn't work.

[2019-03-13 15:22] jeeger commented on #178
I mean that evaluating this expression does not return any content on this PC, since `url.el` is broken for using HTTPS over a proxy. This is why I've worked around `url.el` by using `curl`.

[2019-03-13 18:22] jbaum98 commented on #178
Maybe I've misunderstood, but this makes me think that the proxy is not the issue. Because `url-retrieve` works for me even though `url-retrieve-synchronously` doesn't. So at least there are 2 issues: the proxy messes up everything, but even without the proxy I'm experiencing this issue with `helm-dash`.

[2019-03-13 18:42] kidd commented on #173
Early when this PR came I tested it and it worked fine, but I guess we should have more testing for it until we can do all the merges.

@gilbertw1 did an amazing job and we totally should get it merged. Let's go for it.

@jbaum98 would you be able to test one of them? helm? counsel?

If anyone happens to read this, it'd be nice if you comment and pick one of the 2 versions to try. Let's see how it

[2019-03-14 04:29] mnewt commented on #173
I've been subscribed to this issue and using `counsel-dash` for months. Specifically, I'm requiring these repos:

* https://github.com/gilbertw1/counsel-dash
* https://github.com/gilbertw1/dash-docs

And using the commands:

* `counsel-dash`
* `counsel-dash-at-point`
* `counsel-dash-install-docset`

It's awesome and I haven't had any problems at all.

[2019-03-14 08:21] jeeger commented on #178
Interesting, here it's definitely the proxy. `request.el` definitely looks like a good alternative here, maybe gated with an availability check so it's only used when installed.

[2019-03-14 09:46] fleimgruber commented on #35
Good job @jeeger! do you plan to make a PR?

[2019-03-14 10:03] jeeger commented on #35
It's available in PR #181.

[2019-03-14 10:07] kidd commented on #35
That's awesome! thanks!

[2019-03-14 10:36] gilbertw1 commented on #173
Hey guys, sorry I got pretty busy and dropped the ball on following up with this. I've been using the repos as well in my personal configs with no issues so far.

I'll go through and update the Readme documentation of the `dash-docs` repo to match the new repo and the changes I made to it.

[2019-03-14 13:09] kidd commented on #178
@jeeger , I'd buy into it if it's gated. I don't want to make an extra dependency for everyone.

Total naive question. Is a fix for proxy over http possible by plumbing some  elisp? or we'd need hardcore networking knowledge for that? upstream emacs would benefit from this fix if we'd have it.

[2019-03-14 13:11] kidd commented on #173
np! I also forgot about this, sorry... Hopefully we're handing it over by our 400stars :).

No rush, really

[2019-03-14 13:16] jeeger commented on #178
I've had a look at the `url.el` elisp, and it's a tangled mess for me. I think that bug that might well have it's origin in the basic structure of `url.el`. TLS and Proxies are both kinds of "stream processors" that might not be able to be "stacked" recursively. I don't see me fixing `url.el` in the time I have available, even though it would of course be preferable to using an external package.

[2019-03-15 01:30] gilbertw1 commented on #173
Alright, I've updated the Readme on the [dash-docs repo](https://github.com/gilbertw1/dash-docs) to reflect the fact that it's no longer `helm-dash` and provide basic documentation on how to use it as a library.

Additionally, I've fixed up the tests so they all run properly now in `dash-docs` and removed the test related files from the [helm-dash repo](https://github.com/gilbertw1/helm-dash) sinc

[2019-03-15 09:45] kidd commented on #173
We're fine with giving it to you if you are up to it. Maintenance is low on this project at this stage.

I'd be happy to handle it myself if you're busy, but it makes sense you have the opportunity to step up.

@areina is kinda MIA lately so I guess he's ok with this. :)

[2019-03-15 11:22] gilbertw1 commented on #173
Sure, I'd be willing to maintain the project and handle the transition.

[2019-03-16 20:13] kidd commented on #35
#181 has been merged! :tada:

[2019-03-16 20:47] kidd commented on #173
I'm trying it now and it works wonderfully. Will be trying it for the next few days, trying to stress it a bit more.

[2019-03-16 20:47] kidd commented on #173
cc'ing some third parties that should probably be aware of this:

@syl20bnr, we're not there yet, but when we do the change, I guess some changes in spacemacs should be applied (at least in the docs).

@nathankot, would you be ok with giving the package name to those new packages?

[2019-03-17 20:25] kidd commented on #35
@fleimgruber, could you try the latest version and tell us how it worked for you?

[2019-03-18 16:37] fleimgruber commented on #35
Using `helm-dash-20190316.2009` from MELPA works for me with docsets downloaded using Zeal.

[2019-03-25 09:46] jeeger commented on #35
@fleimgruber Uh, you should be able to download docsets with `helm-dash-install-docset` now, as this is what changed. Zeal probably doesn't use the `helm-dash` functionality, or does it?

[2019-03-25 18:12] fleimgruber commented on #35
Ah, then I misunderstood. I thought the docsets were stored locally as archives and any `helm-dash` lookup would use `tar`. I just tried and installed the Julia docset via `helm-dash-install-docset`. Works Over Here.

[2019-03-25 18:19] kidd commented on #35
nice!  Closing this one then.

Thank you all!

[2019-03-25 18:19] #35 closed

[2019-03-26 14:52] gilbertw1 commented on #173
I've merged in the most recent changes into the `dash-docs` repository. How's the testing going?

[2019-03-26 20:31] kidd commented on #173
Cool!

All good so far. I think we can proceed with the migration.

Is dash-docs published to melpa? I think we can go for that.

Also, we can prepare the PR to melpa to change helm-dash to point to your repo (notifying it should wait there a bit to be merged)

[2019-03-26 20:33] gilbertw1 commented on #173
Sounds like a plan! I'll go ahead and submit `dash-docs` to melpa to get the ball rolling.

[2019-03-27 13:12] gilbertw1 commented on #173
`dash-docs` has been submitted to melpa!

[2019-04-06 11:58] jsmestad commented on #162
Came here to request this exact feature. Especially for using docsets that are generated off of npm or hex packages.

[2019-04-07 11:11] kidd commented on #162
I don't have the original Dash (not even a Mac), so I can't try it for myself...

From the initial description, it seems we already have everything there, we just need an `helm-dash-import-from-original-dash-tgzs` function that does the plumbing, right?

I thought that dash worked with the untgzed files already so we could just reuse those.

[2019-04-22 17:51] kidd commented on #173
Ok, now we have dash-docs into melpa already.

Next step is taking over helm-dash and counsel-dash, right?

Just a heads up I found some variables and functions that were not correctly exported/imported, Could you review this PR https://github.com/gilbertw1/helm-dash/pull/1?

[2019-04-23 15:03] gilbertw1 commented on #173
@kidd Awesome news!

I just got back from a vacation, I'll review and merge your PR shortly. Next step would be to submit a followup PR to Melpa to point to the new helm-dash repo. After that I'll work with `counsel-dash` to get that project updated as well.

Regarding the transition, do you think it'd be better move the repository which would retain all PR's and issues, or just start clean with t

[2019-04-23 21:20] kidd commented on #173
I hadn't thought there's the option of transferring the repo. Maybe it's the most sensible thing to do (maybe not a huge win, but some little win is already something),

I'll reach @areina and get this sorted ASAP.

Cheers!

[2019-04-29 11:32] areina commented on #173
Hello,

sorry folks for not being very responsive. I can't transfer the repo to @gilbertw1 because he already has a fork with the same name.

There are two options:
- We create an organization and I move this repo there
- We add the latest changes from `gilbertw1/helm-dash` to this repo, @gilbertw1 removes his fork and after that I transfer the repo.

One question @gilbertw1:
What is your plan?: m

[2019-04-29 12:11] gilbertw1 commented on #173
@areina, I think the best option here would be to create an organization to move the repository to.

I'm planning on keeping each project separate, so that makes the most sense. Additionally, this would prevent the need for any future movement if maintainers change.

I'm currently mobile, but I'll set up an organization shortly. Afterwards we can consolidate the repositories there.

Cheers!

[2019-04-29 12:40] areina commented on #173
Cool, let me know when the organization is created and I will transfer this repo. Thank you for managing this, we really appreciate your effort.

[2019-04-29 16:16] gilbertw1 commented on #173
No problem! I've benefited a lot from using helm/counsel-dash over the years, so I'm glad I can help evolve the project.

I've created the organization here: https://github.com/dash-docs-el

[2019-04-29 16:45] areina commented on #173
I've just transferred the repo to the org. Would you mind adding @kidd as part of the org?

[2019-04-29 17:03] gilbertw1 commented on #173
Yep, I sent him a request when I created it.

[2019-05-07 13:20] gilbertw1 commented on #173
Hey guys, sorry for the delay. I've merged my fork into master and helm-dash is now backed by dash-docs!

I've built and tested the melpa package locally and everything went smoothly. I'll follow up once the update is available via Melpa and verify that as well. Once I've done that, I'll follow up with counel-dash.

[2019-05-08 07:55] kidd commented on #173
great news!

Shout if you need some help with testing/anything

[2019-05-08 19:04] pawanspace opened #184 "Java docsets on linux are encrypted"
Is there any way to install java docsets on linux? Looks like they are encrypted and only work on mac.

[2019-05-13 02:22] syl20bnr commented on #173
Nice work to everybody involved.
PR welcome to update Spacemacs if any of you are willing to do it. Thank you!

[2019-05-16 16:02] gilbertw1 commented on #173
@syl20bnr Sorry for the delay. I've created syl20bnr/spacemacs#12312 to handle any changes needed for spacemacs.

Thanks!

[2019-05-16 19:17] thanhvg opened #186 "helm-dash-installed-docsets is gone"
What should I use instead? `dash-docs-installed-docsets`?

I have no idea how these things work but my `Spacemacs` `dash`  layer uses `helm-dash-installed-docsets`

[2019-05-27 10:25] areina commented on #186
Hello,

Yes, the new function is `dash-docs-installed-docsets`. However, I've noticed that we're missing the alias from `helm-dash-installed-docsets` to `dash-docs-installed-docsets` in order to ensure backwards compatibility. Thanks for pointing this out, I'll open a PR to fix it.

Sorry for the inconvenience, cheers.

[2019-05-27 11:18] #186 closed

[2019-05-28 08:52] areina commented on #119
Closing this issue after 3 years and 1 day 😄

[2019-05-28 08:52] #119 closed

[2019-07-18 11:29] elheremes opened #188 "Install [official/user] docset contacting error"
I've always used helm-dash but recently there was this problem of not being able to connect to Github API when I try to install a new [official/user] docset. I've tried reinstall both helm-dash and emacs but this solution did not work. And yes, I've gnutls installed and compiled with emacs.

helm-dash-install-docset:
[code]
helm-dash-install-user-docset:
[code]

[2019-07-24 17:19] areina commented on #188
Hello, thank you for reporting the issue. We are going to take a look.

@kidd do you think this could be related to the change you did in the app to serve the community docsets?

[2019-07-24 17:48] kidd commented on #188
@areina, I don't think so cause those changes are not "live" yet. dash-docs doesn't fetch anything from the new ones.

And https://dashes-to-dashes.herokuapp.com/docsets/contrib seems to work fine.

[2019-07-24 17:50] kidd commented on #188
@elheremes, maybe this will fix your issue:
https://github.com/dash-docs-el/helm-dash/issues/178#issuecomment-464847246

[2019-07-24 19:26] elheremes commented on #188
Thank you, it worked! Now the only problem is this annoying window that creates every time I call dash-docs-install-user/official-docset but it ok because I don't use this command every time, thanks!

[2019-07-24 19:29] elheremes commented on #188
Okay, now I can retrieve the docs list but if I try to install any docs this appears again...

[2019-08-13 19:50] elheremes commented on #188
Anyone?

[2019-08-14 05:54] areina commented on #188
@elheremes unfortunately, this seems like an emacs bug more than an issue in our side. However, there could be a possible workaround:
https://github.com/magit/ghub/issues/89
https://github.com/magit/ghub/pulls/90

Do you think you could try to adapt it to this project? Otherwise, @kidd or myself could do it, but it will take some time.

Cheers!

[2019-09-12 20:05] tofgarion opened #190 "Strange error "too long" when installing docsets"
Hello,

When I want to install a docset using `helm-dash-install-docset`, I have the following error:

[code]

Notice that the docset is correctly downloaded and that I have reproduced the bug using a minimal Emacs configuration (only use-package and helm-dash).

I am using helm-dash 20190527.1118 from ELPA et Emacs 26.3.50 compiled from commit c596be08f7 of the Emacs repository.

Is it a known is

[2019-10-04 06:32] contrun commented on #74
Thank you. This is quite useful. `helm-dash-result-url` is renamed to `dash-docs-result-url`.

[2019-10-04 10:24] contrun opened #191 "setq-local dash-docs-docsets does not work"
I tried the following elisp configuration for helm-dash. It does not seem to work.
[code]

I can confirm `helm-dash-docsets` is set by `C-h v`, which told me
[code]
Still, `helm-dash-at-point` did not work. It did work when I activate the docsets with `helm-dash-activate-docset`.

[2020-01-10 09:02] dfeich commented on #188
I found that the current versions of helm-dash (using helm-dash-20190527.1118 from MELPA) by default have activated the workaround that is described in the magit link above. The setting can be turned on/off by the `dash-docs-use-workaround-for-emacs-bug` which is set to `force` by default. The code turns the workaround on for all Emacs versions < 27. This seemingly is too broad a condition.

I am

[2020-02-05 03:50] zbelial opened #192 "Narrowing down to one specific docset does not work?"
Thanks firstly. This package is great and makes looking for document convenient.

But narrowing down to a specific docset does not work for me.
I have the same questions as in #180 .  It seems that helm-dash filters docsets too early.

I installed helm-dash(version 20190527.1118) from melpa and I'm using emacs 27 compiled from source.

[2020-02-05 06:13] zbelial commented on #192
I modified `helm-dash--build-source` as follows, and now I can use ```:rust Option``` to search `Option` only in Rust docset.

[code]

[2020-02-05 13:07] kidd commented on #192
Thanks for the report!

Just tried it and indeed it looks we're filtering too early.

No time now to dig deeper when we got this regression, but it is a valid bug.

I like the `:bla` prefix. I think we could merge a PR for this once we understand if it fails only on helm or ivy also fails.

[2020-02-07 01:00] zbelial commented on #192
Narrowing down in counsel-dash does not work too here. IMO The problem is in the following funtion:
[code]

the problem is it does not delete the docset name from  the `pattern` in the line marked with "PROBLEM" ,  right?

[2020-02-19 09:56] rileyrg commented on #191
this is confirmed. How to set mode specific docsets??

[2020-02-19 09:58] rileyrg opened #193 "dash-docs-docsets does not exist: how to set mode specific docsets?"
https://github.com/dash-docs-el/helm-dash#buffer-local-docsets

This does not work.

Can someone please advise.

[2020-02-19 10:05] rileyrg commented on #193
Closed prematurely. I can get mode specific docsets working. dash-docs-docsets doesnt work.

[2020-02-19 10:20] rileyrg commented on #193
closed. It does work but was being overwritten by an incorrect common subset. dash-docs-docsets not coming up in C-h v either. Anyway, works,

[2020-02-19 10:20] #193 closed, assigned to nobody

[2020-02-25 17:48] gilbertw1 commented on #192
Hi, sorry I'm just looking at this issue.

I think what is happening here is the filtering does technically work, but only within the context of the docsets contained in the `counsel-dash-docsets` variable. So, for instance I have a hook that sets my docsets available when working in scala:

```(add-hook 'scala-mode-hook (lambda () (setq-local counsel-dash-docsets '("Scala" "Akka" "Play_Scala" "Ja

[2020-02-26 09:38] zbelial commented on #192
Yes, you're right. Filtering in `counsel-dash` works. I have no idea why it didn't  work when I tested it last time.

So sorry for the incorrect report and thanks again.

[2020-04-24 11:55] lwiechec opened #194 "gnutls.el error while trying to install a docset"
When I try to install new docset, I am getting this:

[code]
I checked the sources for `dash-docs` and found the `dash-docs-use-workaround-for-emacs-bug` variable; I am using Emacs 26.3 so it is set to `force` in my installation. Is it why I see that error?

[2020-07-26 00:41] beetleb commented on #194
Same issue here (on Windows).

[2020-09-11 17:21] marczz opened #195 "Bad comment header in dash-docs.el."
The first lines of the comment header of dash-docs.el., is a paste of the one of helm-dash.el. So it gives as url `http://github.com/areina/helm-dash` instead of `https://github.com/dash-docs-el/dash-docs`. And the wrong url is also used in melpa, so when you want some info about the package you are redirected to helm-dash. Please correct this url. (I am to lazy to make a pull request for this tin

[2020-12-06 12:37] MCotocel opened #196 "Wrong type argument: stringp"
I'm using helm-dash on macOS. It works fine normally, but I'm trying to open it with eww. I've got this in my config:
[code]
When I run `helm-dash`, and I choose something, I get the following error:
[code]

[2020-12-17 23:55] Sodaware commented on #194
Setting `dash-docs-use-workaround-for-emacs-bug` to `nil` fixes this for me on Emacs 26.3.

[2021-03-07 16:24] dfeich commented on #191
The variable is now called `dash-docs-docsets`. Seemingly the package has been split into a helm-specific and a non-specific core part.

[2021-03-22 20:53] dyloxim opened #197 "Opens wrong url/Installs docset in wrong location ? (macos)"
I have installed the plugin, downloaded the docs I needed, and (snippet from the FAQ) configured the plugin to open docs in firefox like so:

    (setq browse-url-browser-function 'browse-url-generic
        browse-url-generic-program "/Applications/Firefox.app/Contents/MacOS/firefox")
    (setq helm-dash-browser-func 'browse-url-generic)

Trying to open documentation for a particular symbol retur

[2021-05-17 13:46] mullikine opened #198 "When using helm from terminal emacs, typing too quickly may result in helm unexpectedly closing"
This relates to the following issue in `helm`.

https://github.com/emacs-helm/helm/issues/2417

The issue is that `helm-dash` uses `:candidates` instead of `:candidates-process`. In terminal emacs, this will break because a `C-g` is generated by typing quickly as the terminal will hang while generating candidates with the external process.

[code]

That would require some re-engineering. Alternati

[2021-10-07 13:35] #196 closed, assigned to nobody

[2022-06-14 14:01] pataquets opened #201 "(Read before posting) Project unmaintained?"
Some metrics (as of Jun '22):
* Last project commit is 3y ago.
* 21 open issues (oldest from 2015), with support (non-feature) requests unanswered since 3y ago.
* 8 open PR (oldest from 2016), incl. 4 without any review dating 4y ago (even a trivial doc fix from mine at #200).

I'm experiencing some already reported, unresolved, issues.
For those like me looking for alternatives, you might want to

[2022-06-14 14:02] pataquets commented on #195
See #201

[2022-06-14 14:03] pataquets commented on #197
See #201

[2022-06-14 14:04] pataquets commented on #194
See #201

[2022-06-14 14:05] pataquets commented on #184
See #201

[2022-06-14 14:05] pataquets commented on #190
See #201

[2022-09-19 19:05] chraibi commented on #201
Too bad the project is unmaintained. Hopefully some generous saint will step up and take over 🙏

[2022-09-19 22:20] pataquets commented on #201
Don't hold your breath, @chraibi. [Dash](https://www.kapeli.com/dash) is a commercial product.
Also, I'm not sure if anyone at Dash is getting notified, since it looks like current maintainers are not employees.
Pinging @areina & @kidd directly in case they might want to appoint new maintainers.

[2022-09-20 03:08] pksebben commented on #201
@pataquets thanks for the pointers.  Caught wind of this from a dash post on HN that mentioned the repo and was disappointed to discover it was abandonware.

Wish there was helm integration in devdocs.  Maybe a good project for a couple lazy weekends.

[2022-09-20 06:23] chraibi commented on #201
@pksebben I also came from HN full of enthusiasm with big portion of dopamine flowing in my blood, but well. :-(